<article class="cuerpo-logIn">
    <div class="selection">
        <ul class="options-area">
            <span class="selector"></span>
            <li class="option logIn"> Iniciar Sesion </li>
            <li class="option Register">Registrarse</li>
        </ul>
    </div>
    <div class="forms">
        <form asp-controller="" asp-action="" class="LogInForm" method="get">
            <h2>Ingresar</h2>
            <hr>
            <div class="User-zone">
                <span class="title">Usuario</span>
                <input type="text">
            </div>
            <div class="password-zone">
                <span class="title">Contraseña</span>
                <input type="password">
            </div>
            <button class="btn-submit">Ingresar</button>
        </form>
        <form asp-controller="" asp-action="" class="RegisterForm" method="post">
            <h2>Registrarse</h2>
            <br>
            <div class="User-zone">
                <span class="title">Usuario</span>
                <input type="text">
            </div>
            <div class="password-zone">
                <span class="title">Contraseña</span>
                <input type="password">
            </div>
            <button class="btn-submit">Registrarse</button>
        </form>
    </div>
</article>
