@model Usuario
<article class="cuerpo-logIn">
    <div class="selection">
        <ul class="options-area">
            <span class="selector"></span>
            <li class="option logIn"> Iniciar Sesion </li>
            <li class="option Register">Registrarse</li>
        </ul>
    </div>
    <div class="forms">
        <form class="LogIn Form">
            <h2>Ingresar</h2>
            <hr>
            <div class="zone">
                <label class="title">Usuario</label>
                <input class="caption" type="text" asp-for="_Usuario" value="" name="_Usuario">
                <span class="validation" asp-validation-for="_Usuario"></span>
            </div>
            <div class="zone">
                <label class="title">Contraseña</label>
                <input class="caption" type="password" asp-for="contrasena" value="" name="contrasena">
                <span class="validation" asp-validation-for="contrasena"></span>
            </div>
            <button class="btn-submit">Ingresar</button>
        </form>
        <form class="Register Form">
            <h2>Registrarse</h2>
            <hr>
            <div class="User zone">
                <label class="title">Usuario</label>
                <input class="caption" type="text">
                <span class="validation" asp-validation-for="_Usuario"></span>
            </div>
            <div class="password zone">
                <label class="title">Contraseña</label>
                <input class="caption" type="password">
                <span class="validation" asp-validation-for="contrasena"></span>
            </div>
            <div class="type zone">
                <select class="select" name="" id="">
                    <option value="">Comprador</option>
                    <option value="">Vendedor</option>
                </select>
            </div>
            <button class="btn-submit">Registrarse</button>
        </form>
    </div>
</article>